@import '../../Scss/mixin.scss';
@import '../../Scss/Variable.scss';

.App {
    @include Fontfamily-Center;
  }

body {
    margin: 0;
}


.banner {
    position: relative;
    @include MarginLeftAndRight;
    border-radius: 20px;
    margin-top: 30px;
    background-size: cover;
    background-position: center;
    height: 223px; 
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5em;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7); 
    max-width: 100%;
    color: $tertiary-color;
    margin-bottom: 40px;
    h1 { 
        font-size: 60px;
    }
}

.grid {
    background-color: #F6F6F6;
    @include MarginLeftAndRight;
    gap: 2%;
    border-radius: 15px;
}

.div_Apartment{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.Apartment {
    position: relative;
    margin: 3%;
    width: 25%;
    height: 360px;
    border-radius: 10px;
    
    img {
        object-fit: cover;
        position: relative;
        width: 100%;
        height: 360px;
        border-radius: 10px;
    }
    &_p {
        position: absolute;
        display: flex;
        top: 75%;
        left: 4%;
        color: $tertiary-color;
        font-size: 18px;
        font-weight: 700;
    }
}

.Footer {
    margin-top: 40px;
    background-color: $secondary-color;
    img {
        padding-top: 70px;
        width: 122px;
        height: 39px;
        filter: brightness(3);
    }
    p {
        color: $tertiary-color;
        font-size: 24px;
        font-weight: 500;
        padding-bottom: 25px;
        padding-top: 20px;
        margin: 0;
    }
}

// Page d'erreur
.ErrorPage {
    @include Fontfamily-Center;
    h1 {
        margin-top: 6rem;
        color: $primary-color;
        font-size: 288px;
    }
    &_p {
        color: $primary-color;
        font-size: 40px;
        margin-top: -2em;
        margin-bottom: 5em;
    }
    &_a {
        color: $secondary-color;
        font-size: 18px;
    }
    .Footer {
        margin-top: 10em;
    }
}

// Page A propos
.AboutPage {
    @include Fontfamily-Center; 
    .Footer {
        margin-top: 6em;
    }
}
.collapse{
    @include MarginLeftAndRight;
    display: flex;
    flex-direction: column;
    align-items: center;
    &_content {
        margin-left: 5px;
        margin-right: 5px;
        text-align: left;
        max-height: 0;
        overflow: hidden;
        max-width: 80%;
        font-size: 20px;
        transition: max-height 0.5s ease-in-out;
        &.open {
            max-height: 500px;
        }
    }
    &_button {
        background-color: $primary-color;
        padding: 20px;
        border: none;
        outline: none;
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-size: 25px;
        border-radius: 10px;
        margin-top: 2em;
        color: $tertiary-color;
        width: 80%;
        font-weight: 700;
}  
    .arrow {
        cursor: pointer;
        transition: transform 0.3s;
    }
    
    .arrow.open {
        transform: rotate(-180deg); /* Pivote la flèche */
    }
}

// Page de location
.LocationPage {
    @include Fontfamily-Center;
    .Footer {
        margin-top: 6em;
    }
    &_carrousel {
        position: relative;
        margin-top: 50px;
        @include MarginLeftAndRight;
        img {
            border-radius: 25px;
            width: 100%;
            height: 560px;
            object-fit: cover;
        }
        button {
            position: absolute;
            top: 35%;
            border: none;
            background-color: transparent;
            color: white;
            font-size: 100px;
            cursor: pointer;
        }
        &_buttonPrev {
            left: 1%;
        }
        &_buttonNext {
            right: 1%;
        }
        &_index {
            position: absolute;
            bottom: 10px;
            left: 50%;
            color: white;
            font-size: 20px;
            bottom: 40px;
        }
    }

    &_container{
        display: flex;
        @include MarginLeftAndRight;
    }
    &_title {
        width: 50%;
        
        text-align: left;
        h2 {
            color: $primary-color;
            font-size: 36px;
            font-weight: 500;
            margin-bottom: 0;
        }
        h3 {
            font-weight: 500;
            font-size: 20px;
            margin-top: 10px;
        }
        
        &_tag {
            display: flex;
            gap: 15px;
            
            p {
            padding: 8px;
            background-color: $primary-color;
            color: $tertiary-color;
            text-align: center;
            border-radius: 10px;
            font-size: 16px;
            display: grid;
            align-items: center;
        }
        }
    }
    &_owner {
        width: 50%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-end;
        &_content {
            display: flex;
            align-items: center;
            h4 {
                color: $primary-color;
                font-size: 20px;
                text-align: right;
                padding-right: 20px;
                font-weight: 500;
            }
            &_badge {
                width: 60px;
                height: 60px;
                border: 1px solid lightgrey;
                border-radius: 50%;
                background-color: lightgray;
            }
        }
        &_stars {
            span {
                font-size: 40px;
                color: $primary-color;
            }
            
        }
    }
    &_desccollapse {
        @include MarginLeftAndRight;
        display: flex;
        gap: 50px;
    }
    .collapse {
        margin-right:0 ;
        margin-left: 0;
        width: 50%;
        &_button {
            width: 94%;
        }
        &_content {
            background-color: #d3d3d359;
            width: 100%;
            max-width: 100%;
            border-radius: 10px;
            overflow-wrap: normal;
            p {
                padding: 20px;
            }
            li {
                padding: 20px;
                display: flex;
                flex-direction: column;
                list-style-type: none;
            }
        }
    }
}

// media query mobile
@media (max-width: 767px){
    .div_Apartment {
        flex-direction: column;

    }
    .Apartment {
        width: 100%;
        margin: 0;
        margin-bottom: 15px;
    }
    .navbar {
        &_logo {
            img {
                width: 145px;
                height: 46.881px;
            }
        }
        &_link {
            &_span {
                padding-left: 20px;
                font-size: 20px;
            }
        }
    }
    .banner {
        height: 111px;
        h1 {
            font-size: 30px;
            text-align: left;
            padding-left: 10px;
            
        }
    }
    .Footer p {
        font-size: 15px;
    }

    .AboutPage{
        .banner {
            margin-bottom: 0;
        }
        .collapse_button {
            width: 90%;
        }
    }

    .ErrorPage {
        h1 {
            font-size: 160px;
        }
        p {
            font-size: 30px;
            padding-left: 70px;
            padding-right: 70px;
        }
    }

    .LocationPage {
        &_carrousel{
            img {
                height: 440px;
            }
            button {
                font-size: 50px;
                top: 40%;
            }
        }
        &_container {
            flex-direction: column;
        }
        &_title {
            width: 100%;
            &_tag p {
                padding: 10px;
                font-weight: 700;
            }
        }
        &_owner {
            width: 100%;
            flex-direction: row-reverse;
            justify-content: space-between;
            align-items: center;
        }
        &_desccollapse {
            gap: 0;
            flex-direction: column;
            .collapse{
                width: 100%;
            }
        }
    }
}
