@import '../../assets/abstract/_mixin.scss';
@import '../../assets/abstract/_variable.scss';

.App {
    @include Fontfamily-Center;
    &_main {
        display: grid;
        justify-content: center;
    }
  }

body {
    margin: 0;
}


.grid {
    background-color: #F6F6F6;
    border-radius: 15px;
    max-width: 1240px;
}


// media query mobile
@media (max-width: 767px){
    .grid {
        @include MarginLeftAndRight;
        background-color: white;
    }
}
