@charset "UTF-8";
.App {
  text-align: center;
  font-family: "Montserrat", sans-serif;
}

body {
  margin: 0;
}

.navbar {
  margin-right: 7%;
  margin-left: 7%;
  display: flex;
  justify-content: space-between;
  max-width: 100%;
  padding-top: 40px;
}
.navbar_link {
  display: flex;
  align-items: center;
  flex-direction: row;
}
.navbar_link_span {
  padding-left: 50px;
  font-weight: 500;
  font-size: 26px;
}
.navbar_link_span a {
  color: black;
  text-decoration: none;
}
.navbar_link_span a:hover {
  text-decoration: underline;
}
.navbar_link_span .active {
  text-decoration: underline;
}

.banner {
  position: relative;
  margin-right: 7%;
  margin-left: 7%;
  border-radius: 20px;
  margin-top: 30px;
  background-size: cover;
  background-position: center;
  height: 223px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5em;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
  max-width: 100%;
  color: white;
  margin-bottom: 40px;
}
.banner h1 {
  font-size: 60px;
}

.grid {
  background-color: #F6F6F6;
  margin-right: 7%;
  margin-left: 7%;
  gap: 2%;
  border-radius: 15px;
}

.div_Apartment {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.Apartment {
  position: relative;
  margin: 3%;
  width: 25%;
  height: 360px;
  border-radius: 10px;
}
.Apartment img {
  -o-object-fit: cover;
     object-fit: cover;
  position: relative;
  width: 100%;
  height: 360px;
  border-radius: 10px;
}
.Apartment_p {
  position: absolute;
  display: flex;
  top: 75%;
  left: 4%;
  color: white;
  font-size: 18px;
  font-weight: 700;
}

.Footer {
  margin-top: 40px;
  background-color: black;
}
.Footer img {
  padding-top: 70px;
  width: 122px;
  height: 39px;
  filter: brightness(3);
}
.Footer p {
  color: white;
  font-size: 24px;
  font-weight: 500;
  padding-bottom: 25px;
  padding-top: 20px;
  margin: 0;
}

.ErrorPage {
  text-align: center;
  font-family: "Montserrat", sans-serif;
}
.ErrorPage h1 {
  margin-top: 6rem;
  color: #FF6060;
  font-size: 288px;
}
.ErrorPage_p {
  color: #FF6060;
  font-size: 40px;
  margin-top: -2em;
  margin-bottom: 5em;
}
.ErrorPage_a {
  color: black;
  font-size: 18px;
}
.ErrorPage .Footer {
  margin-top: 10em;
}

.AboutPage {
  text-align: center;
  font-family: "Montserrat", sans-serif;
}
.AboutPage .Footer {
  margin-top: 6em;
}

.collapse {
  margin-right: 7%;
  margin-left: 7%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.collapse_content {
  margin-left: 5px;
  margin-right: 5px;
  text-align: left;
  max-height: 0;
  overflow: hidden;
  max-width: 80%;
  font-size: 20px;
  transition: max-height 0.5s ease-in-out;
}
.collapse_content.open {
  max-height: 500px;
}
.collapse_button {
  background-color: #FF6060;
  padding: 20px;
  border: none;
  outline: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 25px;
  border-radius: 10px;
  margin-top: 2em;
  color: white;
  width: 80%;
  font-weight: 700;
}
.collapse .arrow {
  cursor: pointer;
  transition: transform 0.3s;
}
.collapse .arrow.open {
  transform: rotate(-180deg); /* Pivote la flèche */
}

.LocationPage {
  text-align: center;
  font-family: "Montserrat", sans-serif;
}
.LocationPage .Footer {
  margin-top: 6em;
}
.LocationPage_carrousel {
  position: relative;
  margin-top: 50px;
  margin-right: 7%;
  margin-left: 7%;
}
.LocationPage_carrousel img {
  border-radius: 25px;
  width: 100%;
  height: 560px;
  -o-object-fit: cover;
     object-fit: cover;
}
.LocationPage_carrousel button {
  position: absolute;
  top: 35%;
  border: none;
  background-color: transparent;
  color: white;
  font-size: 100px;
  cursor: pointer;
}
.LocationPage_carrousel_buttonPrev {
  left: 1%;
}
.LocationPage_carrousel_buttonNext {
  right: 1%;
}
.LocationPage_carrousel_index {
  position: absolute;
  bottom: 10px;
  left: 50%;
  color: white;
  font-size: 20px;
  bottom: 40px;
}
.LocationPage_container {
  display: flex;
  margin-right: 7%;
  margin-left: 7%;
}
.LocationPage_title {
  width: 50%;
  text-align: left;
}
.LocationPage_title h2 {
  color: #FF6060;
  font-size: 36px;
  font-weight: 500;
  margin-bottom: 0;
}
.LocationPage_title h3 {
  font-weight: 500;
  font-size: 20px;
  margin-top: 10px;
}
.LocationPage_title_tag {
  display: flex;
  gap: 15px;
}
.LocationPage_title_tag p {
  padding: 8px;
  background-color: #FF6060;
  color: white;
  text-align: center;
  border-radius: 10px;
  font-size: 16px;
  display: grid;
  align-items: center;
}
.LocationPage_owner {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
}
.LocationPage_owner_content {
  display: flex;
  align-items: center;
}
.LocationPage_owner_content h4 {
  color: #FF6060;
  font-size: 20px;
  text-align: right;
  padding-right: 20px;
  font-weight: 500;
}
.LocationPage_owner_content_badge {
  width: 60px;
  height: 60px;
  border: 1px solid lightgrey;
  border-radius: 50%;
  background-color: lightgray;
}
.LocationPage_owner_stars span {
  font-size: 40px;
  color: #FF6060;
}
.LocationPage_desccollapse {
  margin-right: 7%;
  margin-left: 7%;
  display: flex;
  gap: 50px;
}
.LocationPage .collapse {
  margin-right: 0;
  margin-left: 0;
  width: 50%;
}
.LocationPage .collapse_button {
  width: 94%;
}
.LocationPage .collapse_content {
  background-color: rgba(211, 211, 211, 0.3490196078);
  width: 100%;
  max-width: 100%;
  border-radius: 10px;
  overflow-wrap: normal;
}
.LocationPage .collapse_content p {
  padding: 20px;
}
.LocationPage .collapse_content li {
  padding: 20px;
  display: flex;
  flex-direction: column;
  list-style-type: none;
}/*# sourceMappingURL=App.css.map */