@import '../../assets/abstract/_mixin.scss';
@import '../../assets/abstract/_variable.scss';


.collapse{
    @include MarginLeftAndRight;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 1240px;
    &_content {
        background-color: #d3d3d359;
        margin-left: 5px;
        margin-right: 5px;
        text-align: left;
        max-height: 0;
        overflow: hidden;
        max-width: 80%;
        font-size: 20px;
        transition: max-height 0.5s ease-in-out;
        padding-left: 20px;
        padding-right: 20px;
        &.open {
            max-height: 500px;
            height: 100%;
            
        }
    }
    
    &_button {
        background-color: $primary-color;
        padding: 20px;
        border: none;
        outline: none;
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-size: 25px;
        border-radius: 10px;
        margin-top: 2em;
        color: $tertiary-color;
        width: 80%;
        font-weight: 700;
}  
    .arrow {
        cursor: pointer;
        transition: transform 0.3s;
    }
    
    .arrow.open {
        transform: rotate(-180deg); /* Pivote la flèche */
    }
}

.LocationPage {

    &_desccollapse {
        display: flex;
        gap: 50px;
        max-width: 1240px;
    }
    .collapse {
        margin-right:0 ;
        margin-left: 0;
        width: 50%;
        &_button {
            width: 94%;
        }
        &_content {
            width: 94%;
            max-width: 100%;
            border-radius: 10px;
            overflow-wrap: normal;
            
        }
    }
}

.AboutPage{
    .collapse{
        &_content{
            max-width: 80%;
            border-radius: 10px;
        }
    }
}


@media (max-width: 767px){
    .LocationPage {
        &_desccollapse {
            @include MarginLeftAndRight;
            gap: 0;
            flex-direction: column;
            .collapse{
                width: 100%;
            }
        }
    }
    .AboutPage{
        .collapse_button {
            width: 90%;
        }
        .collapse_content{
            max-width:100% ;
        }
    }
}